/* aタグ用リセットスタイル */
a {
  color: #000;
  text-decoration: none;
}

/* テキストにパースがつくアニメーション */
.text span {
  /* 初期値のinlineではtransformが効かないためinline-blockを指定 */
  display: inline-block;
  transition: transform 0.3s;
}

.text:hover span {
  transform: perspective(600px) rotateY(-15deg) rotateX(20deg);

}

